{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
{% endblock %}

{% block navbar %}
<h2>Settings</h2>
{% endblock %}

{% block body %}
<div class="wrapper">
	<div class="box">
		<div class="profile-picture-upload">
			<img src="" alt="Profile picture preview" id="imagePreview" class="imagePreview">
			<button class="action-button mode-upload">Upload avatar</button>
			<input type="file" class="hidden" name="fileInput" />
		  </div>


		<h2>{{data['active_user']}}<span>Tolle Unterüberschrift</span></h2>
		<p>Front-End Developer &<br>
		Graphics Designer</p>
		<p class="btn-area"><a href="#">Message</a> <a class="ex" href="#">Following</a></p>
	</div>
</div>
<script>


let picturePreview = document.querySelector(".imagePreview");
let actionButton = document.querySelector(".action-button");
let fileInput = document.querySelector("input[name='fileInput']");
let fileReader = new FileReader();

const DEFAULT_IMAGE_SRC = "/static/profile_pictures/{{data['profile_picture']}}";

// Setze das Standardbild beim Laden der Seite
picturePreview.src = DEFAULT_IMAGE_SRC;

actionButton.addEventListener("click", () => {
  fileInput.click();
});

fileInput.addEventListener("change", () => {
  if (fileInput.files && fileInput.files.length > 0) {
    let file = fileInput.files[0];
    fileReader.readAsDataURL(file);
    fileReader.onload = (e) => {
      picturePreview.src = e.target.result;
      uploadImageToServer(file);
    };
  } else {
    picturePreview.src = DEFAULT_IMAGE_SRC;
  }
});

function uploadImageToServer(file) {
  let formData = new FormData();
  formData.append('file', file);

  $.ajax({
    url: 'settings/upload',
    type: 'POST',
    data: formData,
    processData: false, // Wichtig!
    contentType: false, // Wichtig!
    success: function(data) {
      console.log('File uploaded successfully:', data);
    },
    error: function(error) {
      console.error('Error uploading file:', error);
    }
  });
}


</script>
{% endblock %}