h2 {
    color: white;
}

.wrapper {
	margin-top: 30px;
}

.box {
	margin: auto;
	width: 90vw;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff1a;
	backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
	padding: 1.5em;
	border-radius: 25px;
	border: 2px solid #ffffff30;
	box-shadow: 0 0 30px #0000002a;
	text-align: center;
}
.box h2 {
	color: #ffffff60;
	text-transform: capitalize;
	margin: 15px 0;
}
.box h2 span {
	display: block;
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
}
.box p {
	color: #ffffff90;
	font-size: 14px;
}
.btn-area a {
	text-decoration: none;
	color: #262626;
	background: rgba(255, 255, 255, 0.6);
	display: inline-block;
	padding: 8px 15px;
	margin: 15px 5px;
	border: 2px solid rgba(255, 255, 255, 0.6);
}
.btn-area a.ex {
	background: transparent;
	color: #fff;
}

.profile-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}

.profile-img img {
	width: 100%;
}

.picture-upload {
	width: 30%;
}







body {
	text-align: center;
  }
  
  .profile-picture-upload {
	display: inline;
  }
  
  .imagePreview {
	vertical-align: middle;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-right: 8px;
	-webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
  }
  
  .hidden {
	position: absolute;
	width: 0px;
	height: 0px;
	left: -999999px;
  }
  
  .action-button {
	border: 1px solid black;
	background: none;
	padding: 8px;
	cursor: pointer;
	outline: 0;
	border-radius: 6px;
	
	&.mode-upload {
	  color: #004085;
	  border-color: #b8daff;
	  background-color: #cce5ff;
	}
	
	&.mode-remove {
	  color: #721c24;
	  border: 1px solid #f5c6cb;
	  background-color: #f8d7da;
	}
  }
