{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
{% endblock %}
{% block body %}
<div class="wrapper">
	<div class="box">
    <h2 style="color: white;" >Settings</h2>
		<div class="profile-picture-upload">
			<img src="" alt="Profile picture preview" id="imagePreview" class="imagePreview">
			<button class="action-button mode-upload">Upload avatar</button>
			<input type="file" class="hidden" name="fileInput" />
		  </div>


		<h2>{{data['active_user']}}<span>Tolle Unterüberschrift</span></h2>
		<p>Anzahl Striche:<br>
		{{data['amount_strokes_user']}}</p>
	</div>
</div>
<script>


let picturePreview = document.querySelector(".imagePreview");
let actionButton = document.querySelector(".action-button");
let fileInput = document.querySelector("input[name='fileInput']");
let fileReader = new FileReader();

const ALLOWED_EXTENSIONS = ['png', 'jpg', 'jpeg', 'gif'];
const DEFAULT_IMAGE_SRC = "/static/profile_pictures/{{data['profile_picture']}}";

picturePreview.src = DEFAULT_IMAGE_SRC;

actionButton.addEventListener("click", () => {
  fileInput.click();
});

fileInput.addEventListener("change", () => {
  if (fileInput.files && fileInput.files.length > 0) {
    let file = fileInput.files[0];
    let fileExtension = file.name.split('.').pop().toLowerCase();

    if (ALLOWED_EXTENSIONS.includes(fileExtension)) {
      fileReader.readAsDataURL(file);
      fileReader.onload = (e) => {
        picturePreview.src = e.target.result;
        uploadImageToServer(file);
      };
    } else {
      alert('Ungültige Dateierweiterung. Nur png, jpg, jpeg und gif sind erlaubt.');
      fileInput.value = "";
    }
  } else {
    picturePreview.src = DEFAULT_IMAGE_SRC;
  }
});

function uploadImageToServer(file) {
  let formData = new FormData();
  formData.append('file', file);

  $.ajax({
    url: 'settings/upload',
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(data) {
      console.log('File uploaded successfully:', data);
      location.reload();
    },
    error: function(error) {
      console.error('Error uploading file:', error);
    }
  });
}


</script>
{% endblock %}