<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Haramcounter</title>
</head>
<body>
    <div class="glassbox">
        <div class="box">
            <h2>Haramcounter</h2>
            <div>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
      </div>
<script>

const labels = {{ data['labels']|tojson|safe }};
const counts = {{ data['counts']|tojson|safe }};

const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',  // Ändern Sie dies zu 'horizontalBar'
    data: {
        labels: labels,
        datasets: [{
            label: 'Anzahl Striche',
            data: counts,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderRadius: 50,
        }]
    },
    options: {
        indexAxis: 'y',
        scales: {
            x: {  // Beachten Sie, dass es jetzt 'x' und nicht 'y' ist, da es ein horizontales Balkendiagramm ist
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: false
            }
        },
        scales: {
            x: {
                grid: {
                display: false
                }
            },
            y: {

                grid: {
                display: false
                }
            }
        }
    }
});


</script>
</body>
</html>