<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Haramcounter</title>
</head>
<body>
    <div class="glassbox">
        <div class="box">
            <h2>Haramcounter</h2>
            <div>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
      </div>
<script>

        const labels = {{ labels|safe }};
        const counts = {{ counts|safe }};

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Anzahl Striche',
                    data: counts,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

</script>
</body>
</html>