{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block navbar %}
<li class="nav-item">
  <button style="margin-right: 15px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStrokeModal">
    Strich anlegen
  </button>
</li>
<li class="nav-item">
  <button style="margin-right: 15px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#strokesOnReservationModal">
    {{data["count_open_strokes"]}} offene Striche
  </button>
</li>
{% endblock %}
{% block body %}
<div class="glassbox"> 
  <div class="box">
      <canvas id="stroke_chart" class="stroke_chart"></canvas>
  </div>
</div>
<div class="modal fade" id="addStrokeModal" tabindex="-1" aria-labelledby="addStrokeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="addStrokeModalLabel">Modal title</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="justify-content: center; display: flex; margin-top: 5%;">
          <form id="add_stroke_form" action="{{url_for('index.add_stroke')}}" method="post" style="width: 80%;">
              <div class="mb-3">
                <div class="form-floating">
                  <select name="user" class="form-select" id="name_input" aria-label="Floating label select addStroke">
                  {% for name in data['usernames'] %}
                      <option value="{{ name }}">{{ name }}</option>
                  {% endfor %}
                  </select>
                  <label for="name_input">Strich für...</label>
                </div>
              </div>
              <div class="mb-3">
                <label for="event_input" class="form-label">Was hat er gesagt? (optional)</label>
                <input name="event" type="text" class="form-control" id="event_input">
              </div>
          </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button onclick="document.getElementById('add_stroke_form').submit();" type="button" class="btn btn-primary">Save changes</button>
      </div>
  </div>
  </div>
</div>

<div class="modal fade" id="strokesOnReservationModal" tabindex="-1" aria-labelledby="strokesOnReservationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="modal-title fs-5" id="strokesOnReservationModalLabel">Offene Striche</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div style="margin: 50px; /*overflow: scroll;*/">
            {% if data['strokes_on_reservation']%}
              {% for stroke in data['strokes_on_reservation'] %}
                  <div id="div_ele_{{stroke._id}}"class="strokes_on_reservation" style="float: left; width: 90%;">    
                      <p>Strich für: {{ stroke.username }}</p>
                      <p>Eingetragen von: {{ stroke.added_from }}</p>
                      <p>Was hat er gemacht: {{ stroke.reason }}</p>
                      <p id="ele_vote_{{stroke._id}}">Votes: {{ stroke.votes }}</p>
                      <!--<button onclick="alert('Useless Button :) ')" class="btn">
                          <i class="fa-regular fa-circle-xmark" style="color: #ff2600;"></i>
                      </button>-->
                      <button onclick="verify_stroke('{{ stroke._id }}', this, `{{data['profile_picture']}}`)" class="btn">
                          <i class="fa-regular fa-circle-check" style="color: #00f900;"></i>
                      </button>
                  </div>
                  <div id="profile_picture_section_{{stroke._id}}" style="width: 10%; float: right; margin-top: 8%; padding: 2%;">
                    {% if stroke.first_vote: %}
                    <img style="max-height: 30px; border-radius: 50%; margin: 10%;" src="static/profile_pictures/{{data['usernames_profile_picture'][stroke.first_vote]}}"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stroke.first_vote }}">
                    {% endif %}
                    {% if stroke.second_vote: %}
                    <img style="max-height: 30px; border-radius: 50%; margin: 10%;" src="static/profile_pictures/{{data['usernames_profile_picture'][stroke.second_vote]}}"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stroke.second_vote }}">
                    {% endif %}
                    {% if stroke.third_vote: %}
                    <img style="max-height: 30px; border-radius: 50%; margin: 10%;" src="static/profile_pictures/{{data['usernames_profile_picture'][stroke.third_vote]}}"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stroke.third_vote }}">
                    {% endif %}
                  </div>
              {% endfor %}
            {% endif %}
            {% if data['strokes_on_reservation_remaining']: %}
              {% for stroke in data['strokes_on_reservation_remaining'] %}
                    <div class="strokes_on_reservation_remaining" style="float: left; width: 90%;">    
                        <p>Strich für: {{ stroke.username }}</p>
                        <p>Eingetragen von: {{ stroke.added_from }}</p>
                        <p>Was hat er gemacht: {{ stroke.reason }}</p>
                        <p>Votes: {{ stroke.votes }}</p>
                    </div>
                    <div style="width: 10%; float: right; margin-top: 8%; padding: 2%;">
                      {% if stroke.first_vote: %}
                      <img style="max-height: 30px; border-radius: 50%; margin: 10%;" src="static/profile_pictures/{{data['usernames_profile_picture'][stroke.first_vote]}}"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stroke.first_vote }}">
                      {% endif %}
                      {% if stroke.second_vote: %}
                      <img style="max-height: 30px; border-radius: 50%; margin: 10%;" src="static/profile_pictures/{{data['usernames_profile_picture'][stroke.second_vote]}}"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stroke.second_vote }}">
                      {% endif %}
                      {% if stroke.third_vote: %}
                      <img style="max-height: 30px; border-radius: 50%; margin: 10%;" src="static/profile_pictures/{{data['usernames_profile_picture'][stroke.third_vote]}}"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stroke.third_vote }}">
                      {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if not data['strokes_on_reservation_remaining'] and not data['strokes_on_reservation']: %}
            <h3>Keine offenen Striche vorhanden!</h3>
            {% endif %}
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
          </div>
  </div>
  </div>
</div>
<script>
const rawData = {{ data["user_stroke"]|tojson|safe }};
</script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}